body {
    margin: 0 0 0 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
}

#wrapper {
    margin: auto;
    background-color: transparent;
    width: auto;
    height: auto;
}

header {
    display: block;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: large;
}

nav {
    display: block;
    background-color: black;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 10px 20px 10px 20px;
}

nav ul li a:hover {
    background-color: darkslategray;
}

main {
    padding: 10px 20px 10px 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    clear: both;
}

footer a {
    color: white;
}