#asteroids, #wallpapers, #sql {
    max-height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#asteroids {
    background-image: url('../img/projects/asteroids.gif');
}

#wallpapers {
    background-image: url('../img/projects/Poppies.jpg');
}

#sql {
    background-image: url('../img/projects/Yosemite2.jpg');
}

.button, .buttonDis {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 20px;
    margin: 45%;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    color: black;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}