* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: block;
    background-color: black;
    color: #FFFBD0;
    padding: 1%;
    position: fixed;
    right: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

input[type=radio] {
    visibility: hidden;
    position: absolute;
}

input[type=radio]:checked + label {
    background-color: #CC6600;
}

label:hover {
    background-color: #FF9900;
}

label {
    cursor: pointer;
    padding: 1% 2% 1% 2%;
    transition: all .3s ease-in-out;
}

b {
    padding-right: 1%;
}

footer {
    padding: 1%;
    background-color: black;
    color: #FFFBD0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#dynamic, aside {
    top: 3em;
    padding: 1%;
    position: absolute;
    overflow: auto;
    z-index: -1;
    border: solid black 1px;
}

#dynamic {
    width: 70%;
}

aside {
    width: 25%;
    right: 0;
}