ul {
    list-style: none;
}

li {
    display: inline-block;
}

input[type=radio] {
    visibility: hidden;
}

input[type=radio]:checked + label {
    background-color: red;
}

label:hover {
    background-color: blue;
}

label {
    cursor: pointer;
}