* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: block;
    background-color: black;
    color: #FFFBD0;
    padding: 1%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

input[type=radio] {
    visibility: hidden;
    position: absolute;
}

input[type=radio]:checked + label {
    background-color: #CC6600;
}

label:hover {
    background-color: #FF9900;
}

label {
    cursor: pointer;
    padding: 1% 2% 1% 2%;
}

b {
    padding-right: 1%;
}