/* Normalisation */
* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #FFFBD0;
}

/* Navigation bar */
nav {
    display: block;
    background-color: black;
    color: #FFFBD0;
    padding: 1%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

input[type=radio] {
    visibility: hidden;
    position: absolute;
}

input[type=radio]:checked + label {
    background-color: #CC6600;
}

label:hover {
    background-color: #FF9900;
}

label {
    cursor: pointer;
    padding: 1% 2% 1% 2%;
    transition: all .3s ease-in-out;
}

b {
    padding-right: 1%;
}

/* Footer */
footer {
    padding: 1%;
    background-color: black;
    color: #FFFBD0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Main content */
img {
    position: fixed;
    top: 1em;
}

#dynamic {
    padding: 1%;
    position: relative;
    padding-top: 75vh;
}

article {
    padding: 1em;
    margin-bottom: 1em;
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}